<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>

    <meta charset="UTF-8">
    <title>Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body style=" background-image: url('https://img.freepik.com/free-photo/minimalist-empty-room-business-building_23-2148727506.jpg?w=996&t=st=1693333977~exp=1693334577~hmac=f327c41c624ebd78dec40c710fcb6b80ed2dc104d0f0d4b4e01dc57188407f17');
background-position: center;
background-repeat: no-repeat;
background-size: cover;">

<br />
<br />
<br />

<div style="
        justify-content: center;
        align-items: center;
        width: 50%;"
        class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.error}">
                <div class="alert alert-danger">Mail veya Şifre Yanlış!</div>
            </div>
            <div th:if="${param.logout}">
                <div class="alert alert-success">Çıkış Yaptınız!</div>
            </div>
            <div style=" margin-left: 20px; margin-top: 68px; margin-bottom: 30px;"><img style="max-width: 330px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/Anadolu_Sigorta_logo.svg/428px-Anadolu_Sigorta_logo.svg.png"></div>

            <div style="border-radius: 10px; backdrop-filter: blur(50px);">
                <div class="card-body">
                    <form
                            method="post"
                            th:action="@{/}"
                            class="form-horizontal"
                            role="form"
                    >
                        <div class="mb-3">

                            <input type="text"
                                   id="username"
                                   name="username"
                                   class="form-control"
                                   placeholder="Email"
                            />
                        </div>

                        <div class="mb-3">

                            <input type="password"
                                   id="password"
                                   name="password"
                                   class="form-control"
                                   placeholder="Şifre"
                            />
                        </div>

                        <div class="mb-3">

                            <span style="margin-left: 30px;"> Kayıt Olmadınız Mı?
                            <a style="color: #004693" th:href="@{/register}"> Buradan Kayıt Olun!</a>
                                <br/>
                                <button style="background-color: #004693; margin-left: 75px; width: 180px; margin-top: 30px; border-radius: 0" type="submit" class="btn btn-primary" >
                                    Giriş Yapın</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>
</body>
<footer style=" height:30px;">

</footer>
</html>